// color
$white: #fff;
$black: #000;
$fadewhite:#f4f7fa;
$lightred:#fe525b;
$lightblack:#232323;
$lightgray: #a9a9a9;

//width
$full: 100%;
$half: 50%;

// font-size
$small: 18px;
$medium: 20px;
$medium-large: 24px;
$large-small: 26px;
$large: 46px;
$x-large: 70px;

// font-weight
$light: 300;
$bold: 600;
$bolder: 700;

// Breakpoints
$desktop: 1024px;
$notebook: 995px;
$tablet: 768px;
$phone: 540px;