.banner{
    background: url("http://via.placeholder.com/1520x532/89abd5/89abd5");
    .banner-content {
        padding: 86px 0 220px;
        text-align: center;
        p {
            font-size: 24px;
            color: #fff;
        }
        h2 {
            font-size: 70px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            width: 50%;
            margin: 40px auto 0;
        }
    }
}