@import '../mixins';
@import '../variables';

header {
    .wrapper {
        width: $full;
        .header-top {
            background-color: $lightred;
            p {
                padding: 12px 0;
                color: $white;
                font-size: $small;
                @include text(center);
            }
            @include responsive($notebook) {
                @include display(none);
            }
        }
        .header-bottom {
            background-color: $fadewhite;
            nav {
                ul {
                    @include flex(space-around);
                    margin: 0 13% 0 21%;
                    li {
                        &:nth-child(even) {
                            a::after {
                                content: '\f0d7';
                                font-family: "FontAwesome";
                                margin-left: 5px;
                            }
                        }
                        a {
                            color: $black;
                            font-weight: $bold;
                        }
                    }
                }
            }
        }
    }
}