@charset "UTF-8";
/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1520px;
  width: 96%;
  margin: 0 auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  font-size: 38px;
  text-align: center;
}
h3::after {
  content: "";
  width: 7%;
  height: 3px;
  display: block;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  margin: 10px auto;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 34px;
  }
}

header .wrapper {
  width: 100%;
}
header .wrapper .header-top {
  background-color: #fe525b;
}
header .wrapper .header-top p {
  padding: 12px 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
@media only screen and (max-width: 995px) {
  header .wrapper .header-top {
    display: none;
  }
}
header .wrapper .header-bottom {
  background-color: #f4f7fa;
  position: relative;
}
header .wrapper .header-bottom .hamburger {
  display: none;
}
@media only screen and (max-width: 995px) {
  header .wrapper .header-bottom .hamburger {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 34px;
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  header .wrapper .header-bottom .hamburger {
    font-size: 28px;
  }
}
header .wrapper .header-bottom nav ul {
  margin: 0 13% 0 21%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .wrapper .header-bottom nav ul li:nth-child(even) a::after {
  content: "";
  font-family: "FontAwesome";
  margin-left: 5px;
}
@media only screen and (max-width: 995px) {
  header .wrapper .header-bottom nav ul li:nth-child(even) {
    display: none;
  }
}
header .wrapper .header-bottom nav ul li a {
  color: #000;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  header .wrapper .header-bottom nav ul li a:hover {
    color: #fe525b;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 995px) {
  header .wrapper .header-bottom nav ul li:first-child {
    display: none;
  }
  header .wrapper .header-bottom nav ul li:last-child {
    display: none;
  }
  header .wrapper .header-bottom nav ul li h1 {
    width: 80%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 995px) and (max-width: 540px) {
  header .wrapper .header-bottom nav ul li h1 {
    width: 65%;
  }
}
@media only screen and (max-width: 995px) {
  header .wrapper .header-bottom nav ul {
    margin: 0;
    display: block;
  }
}

.banner {
  background: url("http://via.placeholder.com/1520x532/89abd5/89abd5");
}
.banner .banner-content {
  padding: 86px 0 220px;
  text-align: center;
}
.banner .banner-content p {
  color: #fff;
  font-size: 20px;
}
.banner .banner-content h2 {
  width: 50%;
  margin: 40px auto 0;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .banner .banner-content h2 {
    width: 70%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 540px) {
  .banner .banner-content h2 {
    font-size: 36px;
  }
}

.sale-start {
  padding: 86px 0 180px;
}
.sale-start .time {
  margin: 70px 24% 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sale-start .time li {
  width: 17%;
  padding: 10px 0;
  background: linear-gradient(90deg, #a38dfd, #fe525b);
  color: #fff;
  text-align: center;
}
.sale-start .time li span {
  border-bottom: 1px solid #f4f7fa;
  font-size: 50px;
  font-weight: 700;
}
.sale-start .time li p {
  font-size: 20px;
}
@media only screen and (max-width: 995px) {
  .sale-start .time {
    margin: 70px 5% 0;
  }
}
@media only screen and (max-width: 540px) {
  .sale-start .time {
    display: block;
  }
  .sale-start .time li {
    width: 25%;
    margin: 0 auto 10px;
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  .sale-start {
    padding: 86px 0 86px;
  }
}

.gallery-pics {
  padding-bottom: 45%;
}
.gallery-pics li {
  width: 24.5%;
  border: 1px solid #778899;
  float: left;
}
.gallery-pics li figure {
  position: relative;
}
.gallery-pics li figure span {
  padding: 5px 3%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fe525b;
  color: #fff;
}
@media only screen and (max-width: 540px) {
  .gallery-pics {
    padding-bottom: 160%;
  }
  .gallery-pics li {
    width: 49%;
  }
}

.purchase {
  padding: 68px 0 74px;
  margin-top: 105px;
  background: linear-gradient(90deg, #ffa0a4, #16a16c);
}
.purchase .purchase-content {
  text-align: center;
}
.purchase .purchase-content h3 {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
}
.purchase .purchase-content h3::after {
  display: none;
}
.purchase .purchase-content p {
  padding: 16px 0 24px;
  color: #fff;
  font-size: 24px;
}
.purchase .purchase-content .purchase-btn li:first-child {
  margin-right: 2%;
}
@media only screen and (min-width: 1024px) {
  .purchase .purchase-content .purchase-btn li:first-child a:hover {
    border: 2px solid #fff;
    margin: -2px;
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
  }
}
.purchase .purchase-content .purchase-btn li:nth-child(2) a {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}
@media only screen and (min-width: 1024px) {
  .purchase .purchase-content .purchase-btn li:nth-child(2) a:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
  }
}
.purchase .purchase-content .purchase-btn li a {
  padding: 12px 30px;
  border-radius: 24px;
  color: #000;
  background-color: #fff;
  font-weight: 600;
}
@media only screen and (max-width: 540px) {
  .purchase .purchase-content .purchase-btn li {
    display: block;
  }
  .purchase .purchase-content .purchase-btn li:first-child {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .purchase .purchase-content h3 {
    width: 82%;
    font-size: 34px;
  }
}

.supported {
  padding: 84px 0 120px;
}
.supported h3 {
  margin-bottom: 50px;
}
.supported h3::after {
  margin-top: 30px;
}
.supported .sponser {
  text-align: center;
  margin: 0 20%;
}
.supported .sponser li {
  margin: 5px;
}
.supported .sponser li img {
  border-radius: 4px;
}
@media only screen and (max-width: 995px) {
  .supported .sponser {
    margin: 0 15%;
  }
}
@media only screen and (max-width: 540px) {
  .supported .sponser {
    margin: 0 10%;
  }
}

.contact .wrapper {
  width: 100%;
}
.contact .wrapper .contact-container {
  display: flex;
}
.contact .wrapper .contact-container .map {
  width: 50%;
}
.contact .wrapper .contact-container .map iframe {
  width: 100%;
}
.contact .wrapper .contact-container .contact-content {
  width: 50%;
  padding: 69.5px 72px;
  box-sizing: border-box;
  background-color: #232323;
  color: #fff;
}
.contact .wrapper .contact-container .contact-content h3 {
  font-size: 46px;
  text-align: left;
}
.contact .wrapper .contact-container .contact-content h3::after {
  margin-left: 0;
}
.contact .wrapper .contact-container .contact-content h4 {
  padding: 15px 0 25px;
  color: #a9a9a9;
  font-size: 24px;
  font-weight: 300;
}
.contact .wrapper .contact-container .contact-content .contact-list {
  margin-left: 3%;
}
.contact .wrapper .contact-container .contact-content .contact-list :first-of-type p {
  position: relative;
}
.contact .wrapper .contact-container .contact-content .contact-list :first-of-type p::before {
  content: "";
  color: #fff;
  font-size: large;
  font-family: "FontAwesome";
  position: absolute;
  margin-left: -20px;
}
.contact .wrapper .contact-container .contact-content .contact-list :nth-child(2) a {
  position: relative;
}
.contact .wrapper .contact-container .contact-content .contact-list :nth-child(2) a::before {
  content: "";
  color: #fff;
  font-size: large;
  font-family: "FontAwesome";
  position: absolute;
  margin-left: -14%;
}
.contact .wrapper .contact-container .contact-content .contact-list :nth-child(3) a {
  position: relative;
}
.contact .wrapper .contact-container .contact-content .contact-list :nth-child(3) a::before {
  content: "";
  color: #fff;
  font-size: large;
  font-family: "FontAwesome";
  position: absolute;
  margin-left: -14%;
}
.contact .wrapper .contact-container .contact-content .contact-list li {
  padding: 12px 0;
  display: block;
}
.contact .wrapper .contact-container .contact-content .contact-list li a {
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .contact .wrapper .contact-container .contact-content .contact-list li a:hover {
    color: #fe525b;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 768px) {
  .contact .wrapper .contact-container .contact-content h3 {
    font-size: 34px;
  }
}
.contact .wrapper .contact-container .social-link {
  margin-top: 35px;
}
.contact .wrapper .contact-container .social-link li:first-of-type a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  .contact .wrapper .contact-container .social-link li:first-of-type a::before {
    margin: 0 5px;
  }
}
.contact .wrapper .contact-container .social-link li:nth-child(2) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  .contact .wrapper .contact-container .social-link li:nth-child(2) a::before {
    margin: 0 5px;
  }
}
.contact .wrapper .contact-container .social-link li:nth-child(3) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  .contact .wrapper .contact-container .social-link li:nth-child(3) a::before {
    margin: 0 5px;
  }
}
.contact .wrapper .contact-container .social-link li:nth-child(4) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  .contact .wrapper .contact-container .social-link li:nth-child(4) a::before {
    margin: 0 5px;
  }
}
.contact .wrapper .contact-container .social-link li:nth-child(5) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  .contact .wrapper .contact-container .social-link li:nth-child(5) a::before {
    margin: 0 5px;
  }
}
.contact .wrapper .contact-container .social-link li a {
  color: #a9a9a9;
  font-size: 0;
}
.contact .wrapper .contact-container .social-link li a::before {
  font-size: 34px;
}
@media only screen and (max-width: 540px) {
  .contact .wrapper .contact-container .social-link li a::before {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact .wrapper .contact-container .social-link li a:hover {
    color: #fe525b;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 995px) {
  .contact .wrapper .contact-container {
    display: block;
  }
  .contact .wrapper .contact-container .map {
    width: 100%;
  }
  .contact .wrapper .contact-container .contact-content {
    width: 100%;
  }
}

footer {
  background-color: #232323;
  padding: 60px 0 30px;
}
footer .wrapper {
  width: 82%;
}
footer .wrapper .footer-container {
  display: flex;
}
footer .wrapper .footer-container .follow {
  width: 45%;
}
footer .wrapper .footer-container .follow h4 {
  color: #fff;
  font-size: 24px;
}
footer .wrapper .footer-container .follow .social-link-red {
  width: 100%;
  margin-top: 35px;
}
footer .wrapper .footer-container .follow .social-link-red li {
  width: 15%;
}
footer .wrapper .footer-container .follow .social-link-red li:first-of-type a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .follow .social-link-red li:first-of-type a::before {
    margin: 0 5px;
  }
}
footer .wrapper .footer-container .follow .social-link-red li:nth-child(2) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .follow .social-link-red li:nth-child(2) a::before {
    margin: 0 5px;
  }
}
footer .wrapper .footer-container .follow .social-link-red li:nth-child(3) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .follow .social-link-red li:nth-child(3) a::before {
    margin: 0 5px;
  }
}
footer .wrapper .footer-container .follow .social-link-red li:nth-child(4) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .follow .social-link-red li:nth-child(4) a::before {
    margin: 0 5px;
  }
}
footer .wrapper .footer-container .follow .social-link-red li:nth-child(5) a::before {
  content: "";
  font-family: "FontAwesome";
  margin: 0 15px;
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .follow .social-link-red li:nth-child(5) a::before {
    margin: 0 5px;
  }
}
footer .wrapper .footer-container .follow .social-link-red li a {
  font-size: 0;
  padding: 10px 0;
  border-radius: 50%;
  color: #fff;
  background-color: #fe525b;
}
footer .wrapper .footer-container .follow .social-link-red li a::before {
  font-size: 24px;
}
@media only screen and (min-width: 1024px) {
  footer .wrapper .footer-container .follow .social-link-red li a:hover {
    background-color: #fff;
    color: #fe525b;
    transition: 0.4s;
  }
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .follow .social-link-red li {
    width: 18%;
  }
  footer .wrapper .footer-container .follow .social-link-red li a {
    padding: 10px 15%;
  }
}
footer .wrapper .footer-container .follow .footer-list {
  width: 50%;
  margin-top: 20px;
  float: left;
}
footer .wrapper .footer-container .follow .footer-list li {
  line-height: 1.8;
  display: block;
}
footer .wrapper .footer-container .follow .footer-list li a {
  color: #fff;
  font-size: 18px;
}
@media only screen and (min-width: 1024px) {
  footer .wrapper .footer-container .follow .footer-list li a:hover {
    color: #fe525b;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 768px) {
  footer .wrapper .footer-container .follow {
    padding-bottom: 200px;
  }
}
footer .wrapper .footer-container .footer-content .footer-head {
  margin-bottom: 20px;
}
footer .wrapper .footer-container .footer-content .footer-head li a {
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  footer .wrapper .footer-container .footer-content .footer-head li a {
    font-size: 22px;
  }
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .footer-content .footer-head {
    margin: 50px 0 20px;
  }
}
footer .wrapper .footer-container .footer-content p {
  margin: 10px 0;
  color: #fff;
  font-size: 20px;
}
footer .wrapper .footer-container .footer-content form input {
  padding: 10px 27% 10px 3%;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  outline: none;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  footer .wrapper .footer-container .footer-content form input {
    padding: 10px 14%;
  }
}
footer .wrapper .footer-container .footer-content form a {
  padding: 10px 6%;
  border-radius: 20px;
  background-color: #fe525b;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  footer .wrapper .footer-container .footer-content form a:hover {
    background-color: transparent;
    color: #fe525b;
    border: 2px solid #fe525b;
    margin: -2px;
    transition: 0.2s;
  }
}
@media only screen and (max-width: 540px) {
  footer .wrapper .footer-container .footer-content form a {
    margin: 10px 64px 0;
  }
}
footer .wrapper .footer-container .footer-content h5 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
}
footer .wrapper .footer-container .footer-content .footer-sponser img {
  border-radius: 4px;
}
@media only screen and (max-width: 995px) {
  footer .wrapper .footer-container {
    display: block;
  }
  footer .wrapper .footer-container .follow {
    width: 100%;
  }
  footer .wrapper .footer-container .footer-content {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
